<h3>Create a Fwitter Account</h3>
<form action="/tweets" method="POST">
  Username: <input type="text" name="username"><br>
  Email:<input type="text" name="email"><br>
  Password:<input type="password" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
